/*

[MatRoz Core Stylesheet]

Project: MatRoz - Material Design Agency and Business Template
Version: 1.0
Author : themelooks.com

*/

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
#open-switcher,
#close-switcher,
#backToTop button {
    background-color: #FF9800 !important;
}