/*

[MatRoz Core Stylesheet]

Project: MatRoz - Material Design Agency and Business Template
Version: 1.0
Author : themelooks.com

*/

/*------------------------------------*\
    COLOR
\*------------------------------------*/
#topNav a.navbar-brand span.first,
#topNav a.navbar-brand i.fa,
.team-item h2 a:hover,
.facts-icon i.fa,
.post-title h2:hover a,
.post-item .mdl-card__actions .comments:hover,
.contact-address i.fa,
.links-widget li a:hover,
#tweets a,
#tweets li:before,
#copyright p a,
.about-page-description blockquote p,
.team-social-links li a:hover,
.breadcrumb>.active,
.popular-post-item h5 a:hover,
#tweets2 li:before,
#tweets2 a,
.blog-page-content.post-details blockquote p,
.comment-thumb a,
.feature-item .icon i.fa,
.header-item a.read-more:hover,
.primary-social-menu-links li a:hover,
.preloader-logo span.first,
.preloader-logo i.fa,
.breadcrumb li a:hover,
.blog-page-content.post-details a.post-author-name:hover,
.blog-page-content.post-details .post-author .social-share li a:hover {
    color: #2196F3;
}

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
.openNav,
.offCanvasNav,
.info-items .owl-controls,
.info-items .owl-page,
#callToAction,
#subscribe,
.header-item a.mdl-button.buy-now,
.app-features-content ul li .icon,
.app-features-content ul li:after,
.dev-content ul li .icon,
.dev-content ul li:after,
.section-title:before,
.appScreenshotsSlider .owl-page.active,
#bgVideo .play-button a,
.team-items .owl-page.active,
.team-skills .about-description a.read-more,
.team-skills .progress-bar,
.feedback-item .mdl-card__supporting-text,
.feedback-item .mdl-card:before,
.feedback-items .owl-page.active,
.facts:hover i.fa,
.pct-price-tag,
#moreApps .controls button.mdl-button,
.post-item .mdl-card__actions .read-more,
.contact-form label:after,
.page-title h2:before,
.widget-title:before,
.categories-widget .nav-tabs.nav-justified>li:hover>a,
.categories-widget .nav-tabs.nav-justified>li:focus>a,
.categories-widget .nav-tabs.nav-justified>.active>a,
#postCommentForm label:after,
#f0f a.read-more,
.feature-item:hover .icon,
.feature-item .read-more-btn a.mdl-button,
.portfolio-filter-menu a.mdl-button.view-all-btn,
.portfolio-item .overlay a.mdl-button,
.contact-address,
.footer-title:before,
.footer-about a.read-more.mdl-button,
#topNav .navbar-header .navbar-toggle .icon-bar,
.pct-img figcaption .pct-tag span:before {
    background-color: #2196F3;
}

.pricing-table-item .mdl-card__actions a,
.contact-form button[type="submit"],
.tags-widget ul li a,
input.mdl-button[type=submit] {
    background-color: #2196F3 !important;
}

.offCanvasNav .nav .dropdown-menu {
    background-color: #1D7CC7;
}

.map-toggle-btn {
	background-color: rgba(33,150,243,0.8);
}

/*------------------------------------*\
    BORDER COLOR
\*------------------------------------*/
#topNavbar li a:hover, #topNavbar li.active a,
#topNavbar .topNavDropdown li a:hover,
.app-features-content ul li.active:after,
.dev-content ul li.active:after,
.appScreenshotsSlider .owl-page,
.team-items .owl-page,
.feedback-items .owl-page,
.post-title h2:hover,
.links-widget li a:hover,
#tweets a:hover,
.header-item h2,
.about-page-description blockquote,
#tweets2 a:hover,
.blog-page-content.post-details blockquote,
.portfolio-filter-menu li:hover,
.portfolio-filter-menu li.active,
.post-title h2,
#topNavbar .nav ul > li > a:hover,
#topNavbar .nav ul > li.active > a,
#topNav .navbar-header .navbar-toggle {
    border-color: #2196F3;
}